<div id="connectForm" class="row">
	<div class="col-md-4 col-md-offset-4">
		<h1>Connection BO</h1>
		<form>
			<div class="form-group form-group-lg">
				<label for="userName"><%= __('claim_username') %></label>
				<input type="text" class="form-control" id="userName" placeholder="<%= __('username') %>">
			</div>
			<div class="form-group form-group-sm">
				<label for="password"><%= __('claim_password') %></label>
				<input type="password" class="form-control" id="password" placeholder="<%= __('password') %>">
			</div>
			<button type="submit" class="btn btn-default btn-lg"><%= __('connection') %></button>
		</form>
	</div>
</div>